
.lang{
  text-align: right;
  font-family: Verdana;
  font-size: 100%;
}

.ja-body {
  text-align: center;
  font-family: ヒラギノ角ゴシック;
  font-size: 100%;
  font-color: brack;
}

.en-body {
  text-align: center;
  font-family: Arial;
  font-size: 100%;
  font-color: brack;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

#welcome p {
  font-size: 150%;
}
