
#lang{
  text-align: right;
  font-family: Verdana;
  font-size: 100%;
}

body {
  text-align: center;
  font-family: ヒラギノ角ゴシック;
  font-size: 100%;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.welcome p {
  font-size: 150%;
}

#media-sec img{
  vertical-align: middle;
  display: inline-block;
  height: 50px;
}
#media-sec p{
  display: inline-block;
}