body,section,div,h2,p,a{
  margin: 0;
}
h2{
  font-size: 1.5em;
}
a,p{
  text-decoration: none;
  font-size: 1em;
}
a{
  margin-bottom: 0.5em;
}
small{
  font-size: smaller;
}
.ja-jp{
  font-family: Arial, Helvetica, sans-serif;
}
.sec{
  text-align: left;
  width: 80%;
  padding: 10%;
}
.sec h2{
  margin-bottom: 0.5em;
}
#logo img{
  width: 10%;
}
#logo,#hello{
  height: 30vh;
  padding: 10vh 10vw;
  display: flex;
  align-items: center;
}
.w.w a{
  background-color: #fff;
  color: #000;
}
.b1,.b1 a{
  background-color: #1f9ef1;
  color: #fff;
}

.r{text-align: right;}
.l{text-align: left;}
.c{text-align: center;}
.i{display: inline-block;}

/*90fdfa
//1f9ef1
//https://icooon-mono.com/16011-html%e3%82%bf%e3%82%b0%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3/
//https://icooon-mono.com/00021-%e3%82%a4%e3%83%b3%e3%83%95%e3%82%a9%e3%83%a1%e3%83%bc%e3%82%b7%e3%83%a7%e3%83%b3%e3%83%9c%e3%82%bf%e3%83%b3%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3/
//https://icooon-mono.com/00126-%e3%82%b3%e3%83%a1%e3%83%b3%e3%83%88%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3%e7%b4%a0%e6%9d%90-%e3%81%9d%e3%81%ae4/
*/