
.lang{
  text-align: right;
  font-family: Verdana;
  font-size: 100%;
}
a{
  color: black;
  text-decoration: none;
}

.ja {
  font-family: sans-serif;
}
.en {
  font-family: Arial;
}

h1 {
  font-weight: 400%;
}
body{
  text-align: center;
  font-size: 100%;
}
#welcome p {
  font-size: 150%;
}
#icon {
  width: 30%;
}
#color-img {
  width: 50%;
}
@media screen and (max-width:480px){
  .lang img,summary{
    font-size: 150%;
  }
  h1 {
    font-size: 200%;
  }
  body{
    text-align: center;
    font-size: 100%;
  }
  #welcome p {
    font-size: 170%;
  }
  #icon {
    width: 70%;
  }
  p {
    font-size: 160%;
  }
  #color-img {
    width: 100%;
  }
}
#license{
  font-size: 15px;
}