body{
  margin: 0;
}
.ja-jp{
  font-family: Arial, Helvetica, sans-serif;
}
.sec section{
  width: 50%;
}
.sec section{
  width: 50%;
}
#seci{
  width: 30%;
}
#bg-w{
  background-color: #fff;
}
#bg-b1{
  background-color: #90fdfa;
}


.r{text-align: right;}
.l{text-align: left;}
.c{text-align: center;}
.i{display: inline-block;}



/*90fdfa
//1f9ef1
//https://icooon-mono.com/16011-html%e3%82%bf%e3%82%b0%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3/
//https://icooon-mono.com/00021-%e3%82%a4%e3%83%b3%e3%83%95%e3%82%a9%e3%83%a1%e3%83%bc%e3%82%b7%e3%83%a7%e3%83%b3%e3%83%9c%e3%82%bf%e3%83%b3%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3/
//https://icooon-mono.com/00126-%e3%82%b3%e3%83%a1%e3%83%b3%e3%83%88%e3%81%ae%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b3%e7%b4%a0%e6%9d%90-%e3%81%9d%e3%81%ae4/
*/